<!-- footer -->

<footer class="footer">
    <div class="footer--top clearfix">
        <div class="footer__logo-warp">
            <h2><a href="index.html">SHOES</a></h2>
        </div>
        <div class="footer__menu-wrap clearfix">
            <ul class="footer__menu-list">
                <li><a href="#">온라인 멤버십</a></li>
                <li><a href="#">VVIP 혜택</a></li>
                <li><a href="#">마일리지 혜택</a></li>
                <li><a href="#">쿠폰</a></li>
                <li><a href="#">반품&환불안내</a></li>
            </ul>
            <ul class="footer__menu-list">
                <li><a href="#">고객센터</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">수선진행조회</a></li>
            </ul>
            <ul class="footer__menu-list">
                <li><a href="#">로그인</a></li>
                <li><a href="#">주문배송조회</a></li>
                <li><a href="#">취소/반품</a></li>
                <li><a href="#">위시리스트</a></li>
            </ul>
            <ul class="footer__menu-list">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">브랜드 소개</a></li>
                <li><a href="#">투자정보</a></li>
                <li><a href="#">채용정보</a></li>
                <li><a href="#">동반성장</a></li>
            </ul>
            <ul class="footer__menu-list social">
                <li>
                    <a href="#"><i class="fab fa-twitter"></i><span>트위터</span></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-facebook-f"></i><span>페이스북</span></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-youtube"></i><span>유튜브</span></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram-square"></i><span>인스타그램</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer--bottom clearfix">
        <div class="bottom--warp">
            <div class="footer--bottom__left">
                <div class="service--warp">
                    <a href="#" class="service">서비스이용약관</a>
                    <a href="#" class="infomation">개인정보처리방침</a>
                    <a href="#" class="callsell service--back">통신판매사업자정보확인</a>
                    <a href="#" class="escrow service--back">에스크로서비스 가입 확인</a>
                </div>
                <div class="license--warp">
                    <p class="license_top">(주)슈즈<span></span>대표이사:홍길동<span></span>서울시강남구도산대로522슈즈빌딩<span></span>TEL 1800-5800<span></span>FAX 02-6077-2855</p>
                    <p class="license_bottom">사업자등록번호 120-80-26465<span></span>통신판매업신고번호 강남 제 005924호<span></span>개인정보관리책임자 홍길동<span></span>호스팅서비스 : (주)슈즈</p>
                </div>
                <p class="copyright">COPYRIGHT &copy; 2021 SHOES ALL RIGHT RESERVED.</p>
            </div>
            <div class="footer--bottom__right clearfix">
                <div class="language--bottom">
                    <p class="language__title">
                        <a href="#">LANGUAGE<i class="fas fa-sort-down"></i></a>
                    </p>
                    <ul class="language__list">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">ENGLISH</a></li>
                    </ul>
                </div>
                <div class="family-site">
                    <p class="family-site__title">
                        <a href="#">FAMILY SITE<i class="fas fa-sort-down"></i></a>
                    </p>
                    <ul class="family-site__list">
                        <li><a href="#">뉴발란스</a></li>
                        <li><a href="#">나이키</a></li>
                        <li><a href="#">아디다스</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
